In [2]:
import pandas as pd
import numpy as np
import seaborn as sb

/tmp/ipykernel_206411/1178016921.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
planetary_data = pd.read_csv('data/NASA_Exoplanet_Planetary.csv')
planetary_data.head(15)

/tmp/ipykernel_206411/3796134198.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  planetary_data = pd.read_csv('data/NASA_Exoplanet_Planetary.csv')

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_id,default_flag,sy_snum,...,sy_kepmagerr2,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,0,2,...,NaN,23-07-2014,2011-08,23-07-2014,2,1,2,0,0,0
1,2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,1,2,...,NaN,14-05-2014,2008-01,14-05-2014,2,1,2,0,0,0
2,3,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,...,NaN,25-04-2018,2011-08,23-07-2014,0,1,1,0,0,0
3,4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,1,1,...,NaN,04-09-2018,2017-03,06-09-2018,0,1,1,0,0,0
4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,0,1,...,NaN,25-04-2018,2009-10,14-05-2014,0,1,1,0,0,0
5,6,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,0,1,...,NaN,23-07-2014,2011-08,23-07-2014,0,1,1,0,0,0
6,7,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,1,1,...,NaN,14-05-2014,2008-12,14-05-2014,0,1,1,0,0,0
7,8,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,1,1,...,NaN,12-06-2023,2022-09,12-06-2023,0,1,4,1,0,0
8,9,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,0,1,...,NaN,25-04-2018,2006-07,21-08-2014,0,1,4,1,0,0
9,10,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,0,1,...,NaN,25-04-2018,2007-01,14-05-2014,0,1,4,1,0,0
10,11,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,0,1,...,NaN,25-04-2018,2004-01,21-08-2014,0,1,4,1,0,0
11,12,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,0,1,...,NaN,20-09-2021,2021-07,20-09-2021,0,1,4,1,0,0
12,13,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,0,1,...,NaN,25-04-2018,2003-01,21-08-2014,0,1,4,1,0,0
13,14,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,0,1,...,NaN,04-09-2018,2017-03,06-09-2018,0,1,4,1,0,0
14,15,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,0,1,...,NaN,25-04-2018,2008-04,21-08-2014,0,1,4,1,0,0

In [6]:
planetary_data.isnull().any()

rowid           False
pl_name         False
hostname        False
pl_letter       False
hd_name          True
                ...
st_nphot        False
st_nrvc         False
st_nspec        False
pl_nespec       False
pl_ntranspec    False
Length: 287, dtype: bool